# Enforce Unix newlines
* text=lf

# Exclude unused files
# see: https://redd.it/2jzp6k
.editorconfig    export-ignore
.gitattributes   export-ignore
.github          export-ignore
.gitignore       export-ignore
.gitmodules      export-ignore
.vscode          export-ignore
CHANGELOG.md     export-ignore
composer.lock    export-ignore
package.json     export-ignore
phpunit.xml      export-ignore
pnpm-lock.yaml   export-ignore
scripts          export-ignore
submodules       export-ignore
tests            export-ignore
