name: Merged
run-name: "dist(${{ github.event.workflow_run.head_branch }}): create distribution database"

on:
  workflow_run:
    branches: [main]
    types: [completed]
    workflows: [Tests]

jobs:
  configs:
    name: Configure
    uses: projek-xyz/actions/.github/workflows/configure.yml@main
    with:
      php-version: 8.2
      laravel-version: 11.x

  upstream:
    name: Upstream Database
    uses: ./.github/workflows/upstream.yml
    needs: [configs]
    with:
      composer-cache-dir: ${{ needs.configs.outputs.composer-cache-dir }}
      composer-cache-key: ${{ needs.configs.outputs.composer-cache-key }}
      target-branch: ${{ needs.configs.outputs.target-branch }}
      generate-static: true

  distribute:
    name: Create Distribution Database
    runs-on: ubuntu-latest
    needs: [configs, upstream]
    env:
      GIT_BRANCH: ${{ needs.configs.outputs.target-branch }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: true

      - name: Cache upstream
        id: upstream
        uses: actions/cache@v4
        with:
          path: |
            database/nusa.*.sqlite
          key: upstream-database_${{ env.GIT_BRANCH }}_${{ hashFiles('**/*.sql') }}
          restore-keys: |
            upstream-database_${{ env.GIT_BRANCH }}_
            upstream-database_main_${{ hashFiles('**/*.sql') }}

      - name: Commit distribution database
        if: ${{ needs.upstream.outputs.has-changes == '1' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ./.github/scripts/commit-changes.sh

      - name: Create summary
        if: always()
        env:
          # COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
          COMMIT_AUTHOR: ${{ github.actor }}
          # DIST_CHANGED: ${{ steps.changes.outputs.dist-changed }}
          # DEV_CHANGED: ${{ steps.changes.outputs.dev-changed }}
        run: ./.github/scripts/create-summary.sh
