name: Tests

on:
  schedule: # scheduled to run at 23.00 on Saturday (UTC), means 6.00 on Monday (WIB)
    - cron: '0 23 * * 6'
  pull_request:
    branches: [main]
  push:
    branches: [main]
    # paths: ['.github/**.yml', 'src/*', 'tests/*']

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  configs:
    name: Configure
    uses: projek-xyz/actions/.github/workflows/configure.yml@main
    with:
      php-version: 8.2
      laravel-version: 11.x
    secrets:
      CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}

  upstream:
    name: Upstream DB
    uses: ./.github/workflows/upstream.yml
    needs: [configs]
    with:
      composer-cache-dir: ${{ needs.configs.outputs.composer-cache-dir }}
      composer-cache-key: ${{ needs.configs.outputs.composer-cache-key }}
      target-branch: ${{ needs.configs.outputs.target-branch }}

  tests:
    name: Test on PHP ${{ matrix.php }} Laravel ${{ matrix.laravel }} DB ${{ matrix.db }}
    runs-on: ubuntu-latest
    needs: [configs, upstream]

    env:
      DB_CONNECTION: ${{ matrix.db }}
      DB_DATABASE: ${{ github.repository_owner }}
      DB_USERNAME: ${{ github.repository_owner }}
      DB_PASSWORD: secret
      GIT_BRANCH: ${{ needs.configs.outputs.target-branch }}

    services:
      postgresql:
        image: postgres:14
        env:
          POSTGRES_DB: ${{ env.DB_DATABASE }}
          POSTGRES_USER: ${{ env.DB_USERNAME }}
          POSTGRES_PASSWORD: ${{ env.DB_PASSWORD }}
        ports:
          - 5432:5432
        options: >-
          --health-cmd=pg_isready
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: ${{ env.DB_PASSWORD }}
          MYSQL_DATABASE: ${{ env.DB_DATABASE }}
          MYSQL_USER: ${{ env.DB_USERNAME }}
          MYSQL_PASSWORD: ${{ env.DB_PASSWORD }}
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    strategy:
      fail-fast: false
      matrix:
        db: [mysql, pgsql, sqlite]
        laravel: [11.x, 12.x]
        php: [8.4]
        include:
          - php: 8.3
            laravel: 11.x
            db: mysql

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup PHP ${{ matrix.php }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          ini-values: error_reporting=E_ALL
          tools: composer:v2
          coverage: xdebug
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}

      - name: Cache upstream
        id: upstream
        uses: actions/cache/restore@v5
        with:
          path: database/nusa.*.sqlite
          key: upstream-database_${{ env.GIT_BRANCH }}_${{ hashFiles('**/*.sql') }}
          restore-keys: |
            upstream-database_${{ env.GIT_BRANCH }}_
            upstream-database_main_${{ hashFiles('**/*.sql') }}

      - name: Cache dependencies
        uses: actions/cache@v5
        with:
          path: ${{ needs.configs.outputs.composer-cache-dir }}
          key: php-${{ matrix.php }}-l${{ matrix.laravel }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: php-${{ matrix.php }}-l${{ matrix.laravel }}-composer-

      - name: Install dependencies
        run: |
          composer require "laravel/framework=${{ matrix.laravel }}" --no-update
          composer update --prefer-dist --no-interaction --no-progress
          ls -lah database

      - name: Run tests
        env:
          COLUMNS: 100
        run: |
          vendor/bin/testbench migrate --ansi
          vendor/bin/testbench package:test --ansi --coverage

      - name: Generate reports for CodeClimate
        id: reports
        if: false # TODO: after #197
        env:
          CODECLIMATE_REPORT: tests/reports/codeclimate.PHP${{ matrix.php }}-L${{ matrix.laravel }}-${{ matrix.db }}.json
          CC_TEST_REPORTER_URL: ${{ vars.CC_TEST_REPORTER_URL }}
        run: |
          curl -LSs $CC_TEST_REPORTER_URL > ./cc-test-reporter && chmod +x ./cc-test-reporter
          ./cc-test-reporter format-coverage -t clover -o $CODECLIMATE_REPORT tests/reports/clover.xml

      - name: Store tests reports
        uses: actions/upload-artifact@v6
        if: false # TODO: after #197
        with:
          retention-days: 14
          name: test-reports-PHP${{ matrix.php }}-L${{ matrix.laravel }}-${{ matrix.db }}
          path: tests/reports/codeclimate.*.json

  reports:
    name: Report Test Coverages
    needs: [configs, tests]
    if: false # TODO: after #197
    uses: projek-xyz/actions/.github/workflows/report.yml@main
    secrets:
      CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
    with:
      has-coveralls: ${{ needs.configs.outputs.has-coveralls == '1' }}
      has-codeclimate: ${{ needs.configs.outputs.has-codeclimate == '1' }}
